header {
    color: #fff;
    background-color: #282828;
    height: 100px;
    width: 100%;
    position: sticky;
    padding: 0px;
}

footer {
    background-color: #282828;
    margin: auto;
    padding: 10px;
    width: 65%;
}

.footnotes {
    font-size: 14px;
}

.nav {
    margin: auto;
}

.headerBtn {
    background-color: #181818;
    width: 75%;
    padding: 5px;
    margin: auto;
    border-radius: 10px;
}

body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    overflow-y: hidden;
}

main {
    overflow-y: scroll;
    color: #fff;
    background-color: #000;
    background-image: url("background.jpg");
}

.main {
    padding: 0px 10px;
    margin: auto;
    color: #fff;
    background-color: rgba(24, 24, 24, 1);
    width: 65%;
    display: flex;
}

.column {
    padding: 0px;
    flex: 100%;
}

.contentGroup {
    color: #fff;
    background-color: #222;
    margin: 20px 10px;
    padding: 10px 30px;
    border-radius: 10px;
}

table {
    width: 100%;
}

tr, td {
    text-align: center;
}

img {
    width: 100%;
    padding: 5px;
}

p, a, h1, h2, h3, h4, li, td {
    font-family: "Arial";
    color: #fff;
}

p, li {
    font-size: 18px;
}

h4 {
    padding: 0px;
    margin: 0px;
}

h3 {
    font-size: 20px;
}

h2 {
    font-size: 26px;
}

h1 {
    font-size: 40px;
}

a {
    color: #55aaff;
}
