header {
    color: #fff;
    background-color: #555;
    height: 100px;
    position: sticky;
}

body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    overflow-y: hidden;
}

main {
    overflow-y: scroll;
    color: #fff;
    background-color: #000;
    background-image: url("background.jpg");
}

div.main {
    padding: 10px;
    margin: auto;
    color: #fff;
    background-color: #333;
    width: 60%;
}