header {
    color: #fff;
    background-color: #333;
    height: 100px;
    position: sticky;
}

body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    overflow-y: hidden;
}

main {
    overflow-y: scroll;
    color: #fff;
    background-color: #000;
    background-image: url("background.jpg");
}

div.main {
    padding: 0% 2% 0% 2%;
    margin: auto;
    color: #fff;
    background-color: #181818;
    width: 60%;
    height: 100%;
}

div.contentGroup {
    color: #fff;
    background-color: #222;
    margin: auto;
    margin: 5% 2% 0% 2%;
    padding: 2% 5%;
    width: 35.5%;
    border-radius: 10px;
}

p, h1, h2, h3 {
    font-family: "Arial";
}

p, h3 {
    font-size: 20px;
}

h2 {
    font-size: 30px;
}

h1 {
    font-size: 40px;
}

a {
    color: #55aaff;
}